In [8]:
#QUESTION NO. 1
engNo = int(input("Enter English Marks:"))
mathNo = int(input("Enter Math Marks:"))
sciNo = int(input("Enter Science Marks:"))
compNo = int(input("Enter Computer Science Marks:"))
phyNo = int(input("Enter Physics Marks:"))
total = float((engNo + mathNo + sciNo + compNo + phyNo)/500*100)
print(total)
if total > 90:
    print("Grade A+")
elif total > 80 and total < 91:
    print("Grade A")
elif total > 70 and total < 81:
    print("Grade B")
elif total > 60 and total < 71:
    print("Grade C")
elif total > 50 and total < 61:
    print("Grade D")
else:    
    print("Grade FAIL")

Enter English Marks:55
Enter Math Marks:45
Enter Science Marks:56
Enter Computer Science Marks:65
Enter Physics Marks:64
56.99999999999999
Grade D

In [12]:
#QUESTION NO. 2
num = int(input('Enter any number:'))
if num % 2 == 0:
    print(str(num) + " is an EVEN Number")
else:
    print(str(num) + " is an ODD Number")

Enter any number:66
66 is an EVEN Number

In [13]:
#QUESTION NO. 3
myList = ['Football','Cricket','Badminton','Hockey','Baseball','Handball','Basketball','Tennis']
print(len(myList))

8

In [33]:
#QUESTION NO. 4
myList = ['USA',12,33,45,19,'UK','Paksitan',56,38,'UAE']
theSum = 0
for i in myList:
    if type(i) == int:
        theSum += i    
print("Sum of all the numeric items in the list is : "+str(theSum))

Sum of all the numeric items in the list is :203

In [34]:
#QUESTION NO. 5
myList = [3,43,12,23,27,32,56,89,9,16,7,22,43,24]
print("The largest number in the list is : "+str(max(myList)))

The largest number in the list is : 89

In [38]:
#QUESTION NO. 6
myList = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in myList:
    if i < 5:
        print(i)

1
1
2
3